// Barlow
@font-face {
	font-family: "Barlow";
	src: url("../fonts/Barlow-Bold.woff2") format("woff2"),
		url("../fonts/Barlow-Bold.woff") format("woff");
	//font-weight: bold;
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Barlow";
	src: url("../fonts/Barlow-ExtraBold.woff2") format("woff2"),
		url("../fonts/Barlow-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Barlow";
	src: url("../fonts/Barlow-Black.woff2") format("woff2"),
		url("../fonts/Barlow-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Barlow";
	src: url("../fonts/Barlow-Medium.woff2") format("woff2"),
		url("../fonts/Barlow-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Barlow";
	src: url("../fonts/Barlow-Light.woff2") format("woff2"),
		url("../fonts/Barlow-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Barlow";
	src: url("../fonts/Barlow-ExtraLight.woff2") format("woff2"),
		url("../fonts/Barlow-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Barlow";
	src: url("../fonts/Barlow-Regular.woff2") format("woff2"),
		url("../fonts/Barlow-Regular.woff") format("woff");
	//font-weight: normal;
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Barlow";
	src: url("../fonts/Barlow-Thin.woff2") format("woff2"),
		url("../fonts/Barlow-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Barlow";
	src: url("../fonts/Barlow-SemiBold.woff2") format("woff2"),
		url("../fonts/Barlow-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

// Oswald
@font-face {
	font-family: "Oswald";
	src: url("../fonts/Oswald-Regular.woff2") format("woff2"),
		url("../fonts/Oswald-Regular.woff") format("woff");
	//font-weight: normal;
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Oswald";
	src: url("../fonts/Oswald-Bold.woff2") format("woff2"),
		url("../fonts/Oswald-Bold.woff") format("woff");
	//font-weight: bold;
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Oswald";
	src: url("../fonts/Oswald-Light.woff2") format("woff2"),
		url("../fonts/Oswald-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

// Herosans
@font-face {
	font-family: "HeronSans";
	src: url("../fonts/HeronSans-Medium.woff2") format("woff2"),
		url("../fonts/HeronSans-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "HeronSans";
	src: url("../fonts/HeronSans-Light.woff2") format("woff2"),
		url("../fonts/HeronSans-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "HeronSans";
	src: url("../fonts/HeronSans-Regular.woff2") format("woff2"),
		url("../fonts/HeronSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "HeronSans";
	src: url("../fonts/HeronSans-SemiBold.woff2") format("woff2"),
		url("../fonts/HeronSans-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "HeronSans";
	src: url("../fonts/HeronSans-Bold.woff2") format("woff2"),
		url("../fonts/HeronSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
